#wrapper {

    margin-top: 3%;


}

#card1 {
    width: 85%;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

#card2 {
    width: 85%;
    padding: 5px;
    border: 2px solid rgb(35, 131, 136);
    border-radius: 10px;
    background-color: rgba(0, 82, 84, 0.4)

}

#contactInfo {
    display: block;
    
}

#jobCard {
    background-color: black;
}

#jobTitle {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

#jobLink {
    color: darkgreen;
    font-weight: 550;
    text-decoration: none;
    padding: 5px;
}

#jobLink:hover {
    color: limegreen;
}


#jobDesc {
    font-size: 18px;
    font-weight: 550;
    padding: 5px;
}
#wrapperTitle {
    font-size: 36px;
    font-weight: 550;
    padding: 10px;
}

#wrapperDescription {
    font-size: 24px;
    padding: 10px;
}

#jobImage {
    width: 70%;
    padding: 5px;
}
